body{
    background:rgb(249, 208, 214);
}
#shape{
    width:460px;
    height:1150px;
    background:white;
    border-radius:20px;
    margin:auto;
    position:relative;
    overflow:auto;
    display:flex;
    flex-direction:row;
}
img{
    position:absolute;
    height:200px;
    width:400px;
    top:30px;
    left:30px;
    border-radius:20px;
    flex-shrink:1;
}
.body{
    position:absolute;
    top:220px;
    left:570px;
}
#body2{
    position:absolute;
    width:420px;
    left:520px;
    top:280px;
}
#body3{
    position:absolute;
    width:420px;
    left:520px;
    top:420px;
}
#body4{
    position:absolute;
    width:420px;
    left:520px;
    top:980px;
}